@import "styles/mixins.scss";

.cardWrapper{
    min-height: 100px;
    background: $White;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 24px;
    transition: box-shadow 300ms;

    &:hover{
        transition: box-shadow 300ms;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
        border-radius: 4px;
    }
}

.topWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 22px;
}
.description{
    font-size: 12px;
    color: $Gray;
}
.title{
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 7px;
    color: $TableBlack;
}
.date{
    font-size: 13px;
    color: $Gray;
    line-height: 19px;
    span{
        color: #4C5862;
    }
}
.type{

}
.bottomWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.personeWrapper{
    display: flex;
    align-items: center;
}
.imgWrapper{
    width: 24px;
    height: 24px;
    overflow: hidden;
    position: relative;
    display: block;
    border-radius: 50%;
    img{
        margin-right: 7px;
        width: 24px;
        height: 24px;
    }
}
.nameWrapper{
    margin-left: 7px;
    color: #707683;
    font-size: 13px;
}
.extraAction{

}
.button{
    cursor: pointer;
    background-color: $Gray;
    padding: 3px 8px;
    text-align: center;
    border-radius: 4px;
    vertical-align: center;
    font-weight: 500;
    font-size: 11px;
    min-width: 84px;
    height: 22px;
    color: $White;
    &.button_completed{
        background-color: $Green;
    }
    &.button_ended{
        background-color: $Red;
    }
}