@import "styles/mixins.scss";

.sidePanel{
    width: 256px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
    z-index: 20;
}

.appName{
    height: 60px;
    display: flex;
    padding-left: 24px;
    align-items: center;

    border-bottom: 1px solid #EBEFF2;

    a{
        line-height: 25px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #109CF1;
    }
}

.menu_items{
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
    color: #334D6E;
    list-style: none;
    transition: 300ms;
}

.icon{
    margin-right: 16.5px;
    width: 20px;
    height: 20px;
    display: inline-block;
    transition: 300ms;
}

.activeLink{
    .icon{
        transition: 300ms;
        stroke: #109CF1;
    }
}

.extraPanel{
    padding-top: 24px;
    margin-top:4px;
    border-top:1px solid #EBEFF2;
}

.link:hover{
    .menu_items{
        transition: 300ms;
        color: #109CF1;
    }
    .icon{
        transition: 300ms;
        stroke: #109CF1;
    }
}