@import "mixins.scss";

.sidePanel{
    width: 256px;
    height: 100vh;
    background: #FFFFFF;
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
    z-index: 20;
}

.appName{
    height: 60px;

    display: flex;
    padding-left: 24px;
    align-items: center;

    border-bottom: 1px solid #EBEFF2;

    a{
        line-height: 25px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #109CF1;
    }
}

.menu_items{
    margin-left: 24px;
    margin-right: 24px;
    color: #334D6E;
}

.icon{
    width: 14px;
    height: 14px;
    display: inline-block;
    background-image: url("/src/img/dashboard-active.svg");
}