@import "styles/mixins.scss";

.personeWrapper{
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 40px;
  margin-left: 24px;
  margin-right: 24px;
}

.imageWrapper{
  flex-basis: 46px;
  flex-shrink: 0;
  height: 46px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 16px;
  img{

  }
}

.nameAndEmail{
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: flex-start;
  justify-content: center;
  .name{
    font-size: 14px;
    color: $Black;
    margin-bottom: 2px;
  }
  .email{
    font-size: 11px;
    color: $Gray;
  }
}